<!-- in the footer, have small text links (in case they were missed the first time around) -->
<!-- also social media and contact info -->
<!-- should be present on all pages on the site -->
<!-- (included in default.html and landing.html) -->


<!-- full-width block -->
<footer class="w3-container w3-row w3-center bg-darkblue palegray">

    <!-- left column of the footer will have a list of links -->
    <div id="footerLinks" class="w3-col l4">
        <ul class="w3-container w3-left w3-left-align w3-padding-8">
            <li><a class="" href="{{ base }}/lessons">Lessons</a></li>
            <li><a class="" href="{{ base }}/reactions">Reactions</a></li>
            <li><a class="" href="{{ base }}/glossary">Glossary</a></li>
        </ul>
        <ul class="w3-container w3-left w3-left-align w3-padding-8">
            <li><a class="" href="{{ base }}/blog">Blog</a></li>
            <li><a class="" href="{{ base }}/about">About</a></li>
            <li><a class="" href="{{ base }}/sitemap">Sitemap</a></li>
        </ul>
    </div>


    <!-- remaining width of the footer should have copyright and social media stuff -->
    <div id="footerMeta" class="w3-container w3-col l8 w3-padding-8">
        <div id="copyright" class="w3-container">
            &copy; {{ site.time | date: '%Y' }} {{ site.author }}
        </div>

        <div id="socialMedia" class="w3-container w3-xlarge">
            {% if site.footer-links.email %}
                <a href="mailto:{{ site.footer-links.email }}" title="Email us"><i
                class="fa fa-envelope-square"></i></a>
            {% endif %}
            {% if site.footer-links.facebook %}
            <a href="https://www.facebook.com/{{ site.footer-links.facebook }}" title="Facebook"><i
                class="fa fa-facebook-square"></i></a>
            {% endif %}
            {% if site.footer-links.twitter %}
            <a href="https://www.twitter.com/{{ site.footer-links.twitter }}" title="Twitter"><i
                    class="fa fa-twitter-square"></i></a>
            {% endif %}
            {% if site.footer-links.googleplus %}
            <a href="https://plus.google.com/{{ site.footer-links.googleplus }}" title="Google+"><i
                    class="fa fa-google-plus-square"></i></a>
            {% endif %}
            {% if site.footer-links.github %}
            <a href="https://github.com/{{ site.footer-links.github }}" title="GitHub"><i
                class="fa fa-github-square"></i></a>
            {% endif %}
            {% if site.footer-links.linkedin %}
            <a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" title="LinkedIn"><i
                class="fa fa-linkedin-square"></i></a>
            {% endif %}
            {% if site.footer-links.instagram %}
            <a href="https://instagram.com/{{ site.footer-links.instagram }}" title="Instagram"><i
                    class="fa fa-instagram"></i></a>
            {% endif %}
            {% if site.footer-links.stackoverflow %}
            <a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" title="StackOverflow"><i
                class="fa fa-stack-overflow"></i></a>
            {% endif %}
            {% if site.footer-links.youtube %}
            <a href="https://youtube.com/{{ site.footer-links.youtube }}" title="YouTube"><i
                class="fa fa-youtube"></i></a>
            {% endif %}
            {% if site.footer-links.rss %}
            <a href="/feed.xml" title="RSS"><i
                    class="fa fa-rss-square"></i></a>
            {% endif %}
        </div>

        <div id="poweredBy" class="w3-container">
            <p class="w3-small"><i class="fa fa-rocket"></i> Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> on <a href="https://pages.github.com/" target="_blank">GitHub Pages</a>. Theme based on <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">W3.css</a>.</p>
        </div>

    </div>

</footer>

<div class="w3-content w3-center bg-darkestblue" style="width:100vw;padding-top:1rem;padding-bottom:1rem">
    <img src="{{ base }}/images/logo.png" alt="ChemBrains Logo" style="width:20%;display:block;margin:auto;">
</div>

<!-- quote of the day (small text at the very bottom of the footer) -->
<footer class="w3-content w3-center bg-darkestblue palegray" style="width:100vw;">
    <p id="randomQuote"></p>
</footer>



<!-- end of the page; only closing </body></html> come after the scripts below -->
<script>
    // Used to toggle the menu on small screens when clicking on the menu button
    function toggleNavMenu() {
        var x = document.getElementById("dropNav");
        var y = document.getElementById("navCaret");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
            y.className = y.className.replace("fa fa-caret-down","fa fa-caret-up");
        } else {
            x.className = x.className.replace(" w3-show", "");
            y.className = y.className.replace("fa fa-caret-up", "fa fa-caret-down");
        }
    }
</script>

<script>
    // Used to toggle the side menu
    function openSideMenu() {
        document.getElementById("sideNav").style.display = "block";
        document.getElementById("overlay").style.display = "block";
    }
    function closeSideMenu() {
        document.getElementById("sideNav").style.display = "none";
        document.getElementById("overlay").style.display = "none";
    }
</script>

<script>
    // toggle search bar
    function open_search(elmnt) {
        var a = document.getElementById("googleSearch");
        if (a.style.display == "") {
            a.style.display = "none";
            a.style.paddingRight = "";
            elmnt.innerHTML = "<i class='fa fa-search'></i>";
        } else {
            a.style.display = "";
            if (window.innerWidth > 700) {
                a.style.width = "40%";
            } else {
                a.style.width = "60%";
            }
            if (document.getElementById("gsc-i-id1")) {
                document.getElementById("gsc-i-id1").focus();
            }
            elmnt.innerHTML = "<span class='w3-xlarge'>&times;</span>";
        }
    }
</script>

<script>
    // random quotes
    (function () {
        "use strict";

        var el = document.getElementById("randomQuote");

        var quotes = quoteList.sort(function () {
                    return 0.5 - Math.random();
                });
        var quoteIndex = Math.floor(Math.random() * quotes.length);

        el.innerHTML = "&ldquo;" + quotes[quoteIndex][0] + "&rdquo;<br>&mdash; <em>" + quotes[quoteIndex][1] + "</em>";

    }());
</script>

<script>
    // google search
    (function () {
        var cx = '003531601122286111654:ge7hivw1ejw';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
    })();

    function searchfield_focus(obj) {
        obj.style.color = "";
        obj.style.fontStyle = "";
        if (obj.value == "Search ChemBrains.com") {
            obj.value = "";
        }
    }
</script>