<!-- top navbar; fluid/screen-responsive -->
<!-- should be present on all pages on the site -->
<!-- (included in default.html and landing.html) -->

<!-- navigation links: (≡) ChemBrains.com | Lessons | Reactions | Glossary | Blog | About | (search) -->
<!-- these are not "popup" menu links; each of these goes to a page containing the sub-links -->
<!-- on small screens, this gets compressed to a "caret" icon -->


<!-- search bar (hidden until toggled) -->
<div style="display:none;position:absolute;z-index:4;right:52px;height:44px;background-color:w3-theme;" id="googleSearch">
    <div class="gcse-search"></div>
</div>


<!-- Top Navbar -->
<nav class="w3-card-2 w3-slim topnav" id="topNav">
    <div style="overflow:auto;">

    <ul class="w3-navbar w3-large w3-theme w3-left" style="width:55%;height:44px">

        <!-- button to toggle side nav menu (all screens) -->
        <li class="">
            <a class="topnav-localicons w3-left" href="javascript:void(0);" onclick="openSideMenu()" title="Menu"><i class="fa fa-bars"></i></a>
        </li>

        <li class="">
            <a href="{{ site.baseurl }}/" class="topnav-icons w3-left" title="Home"><i
                    class="fa fa-home"></i></a>
        </li>

        <!-- other links that we want visible on med/large screens -->
        <li class=""><a href="{{ site.baseurl }}/lessons" class="w3-hide-small">Lessons</a></li>

        <li class=""><a href="{{ site.baseurl }}/reactions" class="w3-hide-small">Reactions</a></li>

        <li class=""><a href="{{ site.baseurl }}/glossary" class="w3-hide-small">Glossary</a></li>

        <li class=""><a href="{{ site.baseurl }}/blog" class="w3-hide-small">Blog</a></li>

        <li class=""><a href="{{ site.baseurl }}/about" class="w3-hide-small">About</a></li>

    </ul>

    <ul class="w3-navbar w3-large w3-theme w3-right" style="width:45%;height:44px">

        <!-- search icon to toggle search bar (right-aligned) -->
        <li class="w3-right"><a href="javascript:void(0);" onclick="open_search(this)" title="Search ChemBrains" class="topnav-icons w3-right"><i class="fa fa-search"></i></a></li>

        <!-- button to toggle nav menu on small screens -->
        <li class="w3-right w3-hide-medium w3-hide-large">
            <a href="javascript:void(0);" onclick="toggleNavMenu()"
               title="Navigation" class="topnav-icons w3-right"><i id="navCaret" class="fa fa-caret-down w3-large"></i></a>
        </li>

    </ul>

    <!-- nav menu on small screens -->
    <nav id="dropNav" class="w3-hide w3-hide-large w3-hide-medium w3-theme w3-dropnav">
        <div class="w3-container">
            <span onclick="toggleNavMenu()" class="w3-closebtn w3-xlarge" title="Close Menu">&times;</span>
        </div>
        <ul class="">
            <li><a class="" href="{{ site.baseurl }}/lessons">Lessons</a></li>
            <li><a class="" href="{{ site.baseurl }}/reactions">Reactions</a></li>
            <li><a class="" href="{{ site.baseurl }}/glossary">Glossary</a></li>
            <li><a class="" href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a class="" href="{{ site.baseurl }}/about">About</a></li>
        </ul>
    </nav>

</nav>


<!-- side nav menu -->
<nav class="w3-sidenav w3-white w3-animate-left" style="display:none;z-index:5" id="sideNav">
    <div class="w3-container">
        <span onclick="closeSideMenu()" class="w3-closebtn w3-xlarge" title="Close Menu">&times;</span>
    </div>
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
    <a href="#">Link 5</a>
</nav>

<div class="w3-overlay w3-animate-opacity" onclick="closeSideMenu()" style="cursor:pointer" id="overlay"></div>
