<!-- top navbar; fluid/screen-responsive -->
<!-- should be present on all pages on the site -->
<!-- (included in default.html and landing.html) -->

<!-- navigation links: (icon) ChemBrains.com | Lessons | Reactions | Glossary | Blog | About | (search) -->
<!-- these are not "popup" menu links; each of these goes to a page containing the sub-links -->
<!-- on small screens, this gets compressed to a "hamburger" icon (≡) -->


<!-- search bar (hidden until toggled) -->
<div style="display:none;position:absolute;z-index:4;right:52px;height:44px;background-color:transparent;" id="googleSearch">
    <div class="gcse-search"></div>
</div>


<!-- Top Navbar -->
<ul class="w3-navbar w3-large w3-card-2 w3-left-align w3-top topnav bg-brightblue white" id="topNav">

    <!-- button to toggle nav menu (med/small screens) -->
    <li class="w3-hide-large w3-opennav w3-right">
        <a href="javascript:void(0);" onclick="toggleNavMenu()" title="Menu"><i
                class="fa fa-bars"></i></a></li>

    <!-- site logo & name, visible on all screen sizes -->
    <li class="logo-nowrap"><a href="{{ site.baseurl }}/" title="{{ site.name }}">
        <img src="{{ site.baseurl }}/favicon-32x32.png" alt="ChemBrains Logo" class=""><span class="logo-chem w3-text-shadow">Chem</span><span class="logo-brains w3-text-shadow">Brains</span></a></li>


    <!-- links that we want visible on large screens -->
    <li class="w3-hide-small w3-hide-medium"><a href="{{ site.baseurl }}/lessons">Lessons</a></li>

    <li class="w3-hide-small w3-hide-medium"><a href="{{ site.baseurl }}/reactions">Reactions</a></li>

    <li class="w3-hide-small w3-hide-medium"><a href="{{ site.baseurl }}/glossary">Glossary</a></li>

    <li class="w3-hide-small w3-hide-medium"><a href="{{ site.baseurl }}/blog">Blog</a></li>

    <li class="w3-hide-small w3-hide-medium"><a href="{{ site.baseurl }}/about">About</a></li>

    <!-- search icon to toggle search bar (right-aligned) -->
    <li class="w3-hide-small w3-hide-medium w3-right">
        <a href="javascript:void(0);" onclick="open_search(this)" title="Search ChemBrains" class="topnav-icons"><i class="fa fa-search"></i></a>
    </li>

</ul>


<!-- nav menu on small screens -->
<nav id="dropNav" class="w3-hide w3-hide-large bg-brightblue white w3-dropnav">
    <ul class="w3-navbar w3-left-align w3-large bg-brightblue white">
        <li class=""><i class="fa fa-search"></i>
            <div class="gcse-search"></div></li>
        <li class=""><a href="{{ site.baseurl }}/lessons">Lessons</a></li>
        <li class=""><a href="{{ site.baseurl }}/reactions">Reactions</a></li>
        <li class=""><a href="{{ site.baseurl }}/glossary">Glossary</a></li>
        <li class=""><a href="{{ site.baseurl }}/blog">Blog</a></li>
        <li class=""><a href="{{ site.baseurl }}/about">About</a></li>
    </ul>
</nav>



