<div class="sidebar">
    <div class="container sidebar-sticky">
        <div class="sidebar-about">
            <h1>
                <a href="{{ site.baseurl }}">
                    <img class="site-avatar" src="{{ site.avatar }}"/>{{ site.title }}
                </a>
            </h1>
            <p class="description">{{ site.description }}</p>
        </div>

        <nav class="sidebar-nav">
            <ul>
                {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
                {% for p in navigation_pages %}
                {% if p.navigation_weight %}
                <li>
                    <a class="sidebar-nav-item{% if p.url== page.url %} active{% endif %}" href="{{ site.baseurl }}{{ p.url }}">
                        {{ p.title }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
            <ul>
                {% for c in site.collections %}
                <li>{{ c[0] | capitalize }}:
                    <ul>
                        {% for doc in c[1].docs %}
                        <li><a href="{{ doc.relative_path }}">{{ doc.title }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </nav>



        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>


            <div class="footer">
                {% include svg-icons.html %}
            </div>

        {% include analytics.html %}
    </div>
</div>