---
# layout for a compound class (alkane, alkene, etc.)
layout: default
structures_subfolder: "/compound-classes/structures/"
---
{% assign url = site.data.links %}
{% assign def = site.data.glossary %}

<article class="page">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta">{{ page.summary }}</span>

    <p>
        <img src="{{ site.baseurl }}{{ layout.structures_subfolder }}{{ page.structure }}">
    </p>

    {{ content }}

    {% include disqus.html %}
</article>