<!-- landing.html = site home page -->
<!-- unlike all other layouts, this does NOT inherit the default layout -->

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- top navbar -->
{% include navbar.html %}

<!-- after the navbar, comes the masthead (only on the landing page) -->
<!-- typical large, full-width block containing the site name/logo -->
<!-- also the welcome and a brief description of the site's purpose -->

<!-- Header -->
<header class="w3-container w3-theme-dark w3-center w3-padding-64 landing-header">
    <h1 class="w3-margin w3-jumbo w3-center"><span class="logo-chem w3-text-shadow">Chem</span><span class="logo-brains w3-text-shadow">Brains</span></h1>
    <p class="w3-xlarge">{{ site.description }}</p>
</header>

<!-- below the masthead, the "blocks" layout -->
<!-- currently, thinking 3 blocks: Lessons, Reactions, Glossary -->
<!-- blocks will use scaled-up FA icons -->

<div class="w3-row-padding w3-center w3-section">

    <div class="w3-third">
        <div class="w3-card-2 w3-theme-l4" style="min-height:300px">
            <h3>Lessons</h3><br>
            <i class="fa fa-graduation-cap w3-margin-bottom w3-text-theme" style="font-size:100px"></i>
            <p>Find it hard to follow the textbook? Our bite-size lessons break it down for you, focusing on the most important points!</p>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card-2 w3-theme-l4" style="min-height:300px">
            <h3>Reactions</h3><br>
            <i class="fa fa-flask w3-margin-bottom w3-text-theme" style="font-size:100px"></i>
            <p>Is your head swimming with all the reactions you're expected to learn? We provide you a summary and point out the patterns!</p>
        </div>
    </div>

    <div class="w3-third">
        <div class="w3-card-2 w3-theme-l4" style="min-height:300px">
            <h3>Glossary</h3><br>
            <i class="fa fa-key w3-margin-bottom w3-text-theme" style="font-size:100px"></i>
            <p>Can't remember the difference between configuration and conformation? Check out our glossary of all the definitions and terminology you need!</p>
        </div>
    </div>
</div>


<!-- the rest of this will likely be "below the fold" (or close to it) -->



<!-- Footer -->
{% include footer.html %}

</body>
</html>
