<!-- landing.html = site home page -->
<!-- unlike all other layouts, this does NOT inherit the default layout -->

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- top navbar -->
{% include navbar.html %}

<div class="w3-container w3-padding-8">
    <p class="w3-large w3-center white" style="font-style:italic;font-weight:normal;">{{ site.description }}</p>
</div>

<div class="w3-row-padding w3-center">

    <div class="w3-col l4 w3-center pad-around">
        <div class="w3-card-2 w3-padding-small w3-padding-8 bg-white">
            <div class="clearfix w3-left-align">
                <i class="card-icon fa fa-graduation-cap w3-left brightblue"></i>
                <h2 class="w3-xlarge">Lessons</h2>
                <p style="overflow:hidden">Find it hard to follow the textbook? Our bite-size lessons break it down for you, focusing on the most important points!</p>
            </div>
        </div>
    </div>

    <div class="w3-col l4 w3-center pad-around">
        <div class="w3-card-2 w3-padding-small w3-padding-8 bg-white">
            <div class="clearfix w3-left-align">
                <i class="card-icon fa fa-flask w3-left brightblue"></i>
                <h2 class="w3-xlarge">Reactions</h2>
                <p style="overflow:hidden">Is your head spinning with all the reactions you're expected to learn? We provide you a summary and point out the patterns!</p>
            </div>
        </div>
    </div>

    <div class="w3-col l4 w3-center pad-around">
        <div class="w3-card-2 w3-padding-small w3-padding-8 bg-white">
            <div class="clearfix w3-left-align">
                <i class="card-icon fa fa-key w3-left brightblue"></i>
                <h2 class="w3-xlarge">Glossary</h2>
                <p style="overflow:hidden">Confused on configuration versus conformation? Check out our glossary for all the terminology you need!</p>
            </div>
        </div>
    </div>

</div>


<!-- Footer -->
{% include footer.html %}

</body>
</html>
