<!-- landing.html = site home page -->
<!-- unlike all other layouts, this does NOT inherit the default layout -->

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

<!-- top navbar -->
{% include navbar.html %}

<!-- after the navbar, comes the masthead (only on the landing page) -->
<!-- typical large, full-width block containing the site name/logo -->
<!-- also the welcome and a brief description of the site's purpose -->

<!-- Header -->
<header id="landingHeader" class="w3-container w3-center w3-padding-64 bg-darkblue white">
<div class="w3-row">
    <div class="w3-col s6 w3-right w3-left-align">
        <h1 class="w3-jumbo w3-right-align"><a href="{{ site.baseurl }}"><span class="logo-chem w3-text-shadow">Chem</span><span
                class="logo-brains w3-text-shadow">Brains</span></a></h1>
        <p class="w3-large w3-right-align" style="font-style:italic;font-weight:normal;">{{ site.description }}</p>
    </div>
    <div class="w3-col s6 w3-left w3-right-align">
        <img id="headerLogo" src="{{ site.baseurl }}/images/logo.png" alt="ChemBrains Logo" class="w3-right-align">
    </div>
</div>
</header>

<!-- below the masthead, the "blocks" layout -->
<!-- currently, thinking 3 blocks: Lessons, Reactions, Glossary -->
<!-- blocks will use scaled-up FA icons -->

<div class="w3-row w3-section ">
    <div class="w3-hide-small w3-col w3-container" style="width:5%"></div>
    <div class="w3-hide-small w3-hide-medium w3-col w3-container" style="width:5%"></div>
    <div class="w3-hide-small w3-col w3-container w3-right" style="width:5%"></div>
    <div class="w3-hide-small w3-hide-medium w3-col w3-container w3-right" style="width:5%"></div>

    <div class="w3-rest">

        <div class="flexrow w3-row-padding w3-center">

            <div class="w3-col m4">
                <div class="w3-card-2 w3-padding-small w3-padding-8 bg-white" style="height:100%">
                <h3>Lessons</h3><br>
                <i class="fa fa-graduation-cap w3-margin-bottom brightblue" style="font-size:100px"></i>
                <p>Find it hard to follow the textbook? Our bite-size lessons break it down for you, focusing on the most important points!</p>
                </div>
            </div>

            <div class="w3-col m4">
                <div class="w3-card-2 w3-padding-small w3-padding-8 bg-white" style="height:100%">
                <h3>Reactions</h3><br>
                <i class="fa fa-flask w3-margin-bottom brightblue" style="font-size:100px"></i>
                <p>Is your head swimming with all the reactions you're expected to learn? We provide you a summary and point out the patterns!</p>
                </div>
            </div>

            <div class="w3-col m4">
                <div class="w3-card-2 w3-padding-small w3-padding-8 bg-white" style="height:100%">
                <h3>Glossary</h3><br>
                <i class="fa fa-key w3-margin-bottom brightblue" style="font-size:100px"></i>
                <p>Can't remember the difference between configuration and conformation? Check out our glossary for all the terminology you need!</p>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- the rest of this will likely be "below the fold" (or close to it) -->



<!-- Footer -->
{% include footer.html %}

</body>
</html>
