---
# layout for a individual reaction
layout: default
schemes_subfolder: "/reactions/schemes/"
---
{% assign url = site.data.links %}
{% assign def = site.data.glossary %}

<article class="page">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta">{{ page.summary }}</span>

    <p>
    <img src="{{ site.baseurl }}{{ layout.schemes_subfolder }}{{ page.scheme }}">
    </p>

    {{ content }}

    <div>
        <table>
            <caption><abbr title="Functional Group Interconversions">FGIs</abbr> via {{ page.title }}:</caption>
            <tr>
                <th>Starting Material</th>
                <th>Product</th>
            </tr>

            {% for rxn in site.data.fgi[page.slug] %}
            <tr>
                <td><a href="{{ site.data.links[rxn.substrate] }}">{{ rxn.substrate }}</a></td>
                <td><a href="{{ site.data.links[rxn.product] }}">{{ rxn.product }}</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>


    {% include disqus.html %}
</article>

