---
# layout for a individual reaction
layout: default
schemes-subfolder: "/reactions/schemes/"
---

<article class="page">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-meta">{{ page.summary }}</span>

    <img src="{{ site.baseurl }}{{ schemes-subfolder }}{{ page.scheme }}">

    {{ content }}

    <div>
        <table>
            <caption><abbr title="Functional Group Interconversions">FGIs</abbr> using {{ page.title }}:</caption>
            <tr>
                <th>Starting Material</th>
                <th>Product</th>
            </tr>

            {% for rxn in site.data.fgi[page.slug] %}
            <tr>
                <td><a href="{{ url[rxn.substrate] }}">{{ rxn.substrate }}</a></td>
                <td><a href="{{ url[rxn.product] }}">{{ rxn.product }}</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>


    {% include disqus.html %}
</article>

